<div class="container">
  <h1>Tasks</h1>
  <div class="cards">
    <% @tasks.each do |task| %>
      <div class="card-category">
        <%= link_to task['title'], task_path(task), class: "link" %>
      </div>
    <% end %>
  </div>
  <div class = "button-div">
    <%= link_to "Create Task", tasks_new_path, class: "button"%>
  </div>
</div>
